@mixin anchor-arrow($color: var(--color-pure-white)) {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: $color;
}

@mixin grid-item-text(
  $fontSize,
  $lineHeight,
  $color,
  $letter-spacing: initial
) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin grid-itemsBg($bgGradeint, $bgUrl, $bgRepeat: no-repeat, $bgSize: cover) {
  background: $bgGradeint, url($bgUrl);
  background-repeat: $bgRepeat;
  background-size: $bgSize;
}

@mixin fontsanstitles(
  $fontSize,
  $lineHeight,
  $color,
  $fontWeight: normal,
  $textAlign: center
) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
  font-weight: $fontWeight;
  text-align: $textAlign;
}
