.footer {
  padding: 5.6rem 3.2rem;
  background-color: var(--color-pure-black);

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 6.4rem 3.9rem;
    position: relative;
  }

  @media (min-width: 1024px) {
    padding: 6.4rem 17rem;
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__brands {
    @media (min-width: 768px) {
      display: grid;
      grid-template: 1fr 1fr / 1fr;
      row-gap: 12rem;
    }

    @media (min-width: 1024px) {
      row-gap: 1.5rem;
    }

    .footer__branding {
      display: block;
      margin: 0 auto;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 15.4rem;
    margin: 3.2rem auto 0;

    .footer__facebook,
    .footer__youtube,
    .footer__twitter,
    .footer__pinterest,
    .footer__instagram {
      & path {
        cursor: pointer;
        fill: var(--color-pure-white);
      }
    }

    .footer__facebook {
      & path:hover {
        fill: url("#facebook");
      }
    }
    .footer__youtube {
      & path:hover {
        fill: url("#youtube");
      }
    }
    .footer__twitter {
      & path:hover {
        fill: url("#twitter");
      }
    }
    .footer__pinterest {
      & path:hover {
        fill: url("#pinterest");
      }
    }
    .footer__instagram {
      & path:hover {
        fill: url("#instagram");
      }
    }
  }

  &__navigation {
    @include fontsanstitles(1.2rem, 1.6rem, var(--color-pure-white), bold);
    display: flex;
    flex-direction: column;
    margin-top: 4.9rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      width: 31.5rem;
      margin-top: initial;
      position: absolute;
      top: 11.5rem;
      height: fit-content;
    }

    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: initial;
      width: initial;
      position: absolute;
      top: 6.4rem;
      left: 44.7rem;
      height: initial;
      text-align: left;
    }

    & a {
      color: var(--color-pure-white);

      &:hover {
        opacity: 0.3;
      }

      &:not(&:first-child) {
        margin-top: 1.9rem;

        @media (min-width: 768px) {
          margin-top: initial;
        }

        @media (min-width: 1024px) {
          margin-top: 1.9rem;
        }
      }
    }
  }

  &__copy {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    row-gap: 3.4rem;
    width: 25.5rem;
    margin: 11.9rem auto 0;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: initial;
    }

    .footer__invite {
      display: flex;
      justify-content: center;
      align-items: center;
      @include anchor-arrow;

      @media (min-width: 768px) {
        justify-content: flex-end;
        align-items: initial;
      }

      &:hover {
        text-decoration: underline;
      }

      & svg {
        margin-left: 2.2rem;
      }
    }

    .footer__copyright {
      @include fontsanstitles(1.5rem, 2rem, var(--color-light-grey));
      opacity: 0.5;

      @media (min-width: 768px) {
        width: 25.5rem;
      }
    }
  }
}
