.pricing-main {
  background-color: var(--color-pure-white);
  padding: 6.4rem 2.8rem;

  @media (min-width: 768px) {
    padding: 11.2rem 4rem;
  }
  
  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
    padding: 12rem 16.5rem;
  }
}
