.invite {
  background: url("../../assets/shared/mobile/bg-beta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.4rem 3.2rem;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../../assets/shared/tablet/bg-beta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.8rem 3.9rem;
  }

  @media (min-width: 1440px) {
    background: url("../../assets/shared/desktop/bg-beta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.8rem 16.5rem;
    margin: 0 auto;
    max-width: 1440px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.3rem;
    width: 12.8rem;
    height: 0.6rem;
    background: linear-gradient(
      26.57deg,
      var(--color-accent-gradient-1) 0%,
      var(--color-accent-gradient-2) 43.29%,
      var(--color-accent-gradient-3) 83.33%
    );

    @media screen and (min-width: 768px) {
      top: 0;
      left: 0;
      width: 0.6rem;
      height: 100%;
    }
  }

  & .header__invite {
    @media (min-width: 768px) {
      margin-top: initial;
    }
  }
}
