.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 2.4rem;
  position: relative;
  background-color: var(--color-pure-white);

  @media screen and (min-width: 768px) {
    padding: 2.8rem 4rem;
  }

  @media screen and (min-width: 1440px) {
    padding: 2.8rem 16.5rem;
  }

  .navbar__navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    padding: 3.2rem;
    background-color: var(--color-pure-white);

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: initial;
      padding: initial;
    }

    &--active {
      display: block;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    .navbar__nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      border-bottom: 2px solid var(--color-light-grey);

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        width: 26.9rem;
        margin: 0 auto;
        border-bottom: initial;
      }

      .navbar__nav-link {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: var(--color-pure-black);
        transition: color 0.2s ease-in-out;

        @media screen and (min-width: 768px) {
          font-size: 1.2rem;
          line-height: 1.6rem;
          margin-bottom: initial;
        }

        &:hover {
          color: var(--color-light-grey);
        }
      }
    }

    .navbar__nav-btn {
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--color-pure-white);
      background-color: var(--color-pure-black);
      width: 100%;
      padding: 1.2rem 2.4rem;
      transition: 0.2s ease-in-out;

      @media screen and (min-width: 768px) {
        width: initial;
      }

      &:hover {
        color: var(--color-pure-black);
        background-color: var(--color-light-grey);
      }
    }
  }

  .navbar__menu-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-pure-white);

    @media screen and (min-width: 768px) {
      display: none;
    }

    &--open {
      @media screen and (min-width: 768px) {
        display: none !important;
      }
    }

    &--close {
      display: none;
    }
  }
}
