.header {
  &__create-graphic {
    display: block;
    height: auto;
    width: 100%;
  }

  &__create-stories {
    background-color: var(--color-pure-black);
    padding: 7.2rem 3.3rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 3.3rem;
      width: 12.8rem;
      height: 0.6rem;
      background: linear-gradient(
        26.57deg,
        var(--color-accent-gradient-1) 0%,
        var(--color-accent-gradient-2) 43.29%,
        var(--color-accent-gradient-3) 83.33%
      );
    }
  }

  &__invite {
    display: inline-flex;
    align-items: center;
    margin-top: 2.3rem;
    @include anchor-arrow;

    &:hover {
      text-decoration: underline;
    }

    & svg {
      margin-left: 1.8rem;
    }
  }

  &__beautiful-stories-graphic {
    @extend .header__create-graphic;
  }

  &__beautiful-stories {
    @extend .header__create-stories;
    background-color: var(--color-pure-white);
    position: initial;

    &::before {
      content: none;
    }

    & p {
      color: var(--color-pure-black);
    }

    & .header__invite {
      @extend .header__invite;
      color: var(--color-pure-black);
      @include anchor-arrow(var(--color-pure-black));
    }
  }
}
