.stories-header {
  @media (min-width: 768px) {
    position: relative;
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__create-graphic {
    display: block;
    height: auto;
    width: 100%;
  }

  &__create-stories {
    background-color: var(--color-pure-black);
    padding: 4.8rem 2.8rem;
    position: relative;

    @media (min-width: 768px) {
      position: absolute;
      top: 11.5rem;
      left: 3.9rem;
      padding: 0 0;
      width: 38.7rem;
      background-color: transparent;
    }

    @media (min-width: 768px) {
      left: 11.2rem;
    }

    .stories-header__featured {
      @include fontsanstitles(
        1.2rem,
        1.6rem,
        var(--color-pure-white),
        bold,
        left
      );
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      opacity: initial;
      margin-bottom: 1.6rem;
    }

    .stories-header__author {
      display: inline-block;
      margin-right: 0.9rem;
    }

    .stories-header__appleseed {
      @include fontsanstitles(1.3rem, 1.7rem, var(--color-pure-white), left);
    }
  }
}
