.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 2.4rem;
  position: relative;
  background-color: var(--color-pure-white);

  .navbar__navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    padding: 3.2rem;
    background-color: var(--color-pure-white);

    &--active {
      display: block;
    }

    .navbar__nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      border-bottom: 2px solid var(--color-light-grey);

      .navbar__nav-link {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: var(--color-pure-black);
        transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--color-light-grey);
        }
      }
    }

    .navbar__nav-btn {
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--color-pure-white);
      background-color: var(--color-pure-black);
      width: 100%;
      padding: 1.2rem 2.4rem;
      transition: 0.2s ease-in-out;

      &:hover {
        color: var(--color-pure-black);
        background-color: var(--color-light-grey);
      }
    }
  }

  .navbar__menu-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-pure-white);

    &--close {
      display: none;
    }
  }
}
