.stories-grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template: repeat(8, 1fr) / 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__item-date {
    @include fontsanstitles(
      1.3rem,
      1.7rem,
      var(--color-pure-white),
      normal,
      left
    );
    margin-bottom: 0.4rem;
  }

  &__item-link {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 23.6rem 3.3rem 4rem;
    width: 100%;
    min-height: 37.5rem;
    position: relative;
    transition: transform 0.2s ease-in-out;

    @media (min-width: 768px) {
      min-height: 50rem;
    }

    &:hover {
      transform: translateY(-2rem);
    }

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0%;
      height: 0.6rem;
      background: linear-gradient(
        26.57deg,
        var(--color-accent-gradient-1) 0%,
        var(--color-accent-gradient-2) 43.29%,
        var(--color-accent-gradient-3) 83.33%
      );
      transition: width 0.3s ease-in;
    }

    &--mountains {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/mountains.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/mountains.jpg"
        );
      }
    }

    &--sunset {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/cityscapes.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/cityscapes.jpg"
        );
      }
    }

    &--voyage {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/18-days-voyage.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/18-days-voyage.jpg"
        );
      }
    }

    &--architectural {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/architecturals.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/architectural.jpg"
        );
      }
    }

    &--tour {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/world-tour.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/world-tour.jpg"
        );
      }
    }

    &--corners {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/unforeseen-corners.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/unforeseen-corners.jpg"
        );
      }
    }

    &--king {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/king-on-africa.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/king-on-africa.jpg"
        );
      }
    }

    &--nowhere {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/trip-to-nowhere.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/trip-to-nowhere.jpg"
        );
      }
    }

    &--sea {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/rage-of-the-sea.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/rage-of-the-sea.jpg"
        );
      }
    }

    &--free {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/running-free.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/running-free.jpg"
        );
      }
    }

    &--waves {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/behind-the-waves.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/behind-the-waves.jpg"
        );
      }
    }

    &--calm {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/calm-waters.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/calm-waters.jpg"
        );
      }
    }

    &--milky {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/milky-way.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/milky-way.jpg"
        );
      }
    }

    &--forest {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/dark-forest.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/dark-forest.jpg"
        );
      }
    }

    &--beauty {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/somwarpet.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/somwarpet.jpg"
        );
      }
    }

    &--dreams {
      @include grid-itemsBg(
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0.27%,
          rgba(0, 0, 0, 0.661222) 100%
        ),
        "../../assets/stories/mobile/land-of-dreams.jpg"
      );

      @media (min-width: 768px) {
        @include grid-itemsBg(
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0.27%,
            rgba(0, 0, 0, 0.661222) 100%
          ),
          "../../assets/stories/desktop/land-of-dreams.jpg"
        );
      }
    }
  }

  &__item-title {
    @include grid-item-text(1.8rem, 2.5rem, var(--color-pure-white));
  }

  &__item-author {
    @include grid-item-text(1.3rem, 1.7rem, var(--color-pure-white));
    margin-top: 0.4rem;
  }

  &__item-rule {
    margin: 2rem 0;
  }

  &__item-story {
    @include grid-item-text(1.2rem, 1.6rem, var(--color-pure-white));
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
