:root {
  /* Main Accent */
  --color-accent-gradient: #ffc593, rgb(255, 197, 147), 28°, 100%, 79%;
  /* Primary Colors */
  --color-pure-black: #000;
  --color-light-grey: #ddd;
  --color-pure-white: #fff;
}

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
}
