:root {
  /* Main Accent */
  --color-accent-gradient-1: #ffc593;
  --color-accent-gradient-2: #bc7198;
  --color-accent-gradient-3: #5a77ff;
  /* Primary Colors */
  --color-pure-black: #000;
  --color-light-grey: #ddd;
  --color-pure-white: #fff;
}

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  // background-color: var(--color-pure-black);
  background-color: #0c0b0b;
}

a {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  &--active {
    display: block;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
  color: var(--color-pure-white);
}

.header p,
.stories-header p,
.features-header p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-pure-white);
  opacity: 0.6;
  margin-top: 1.6rem;

  @media screen and (min-width: 768px) {
    margin-top: 2.1rem;
  }
}

h2 {
  @extend h1;
  color: var(--color-pure-black);
}

picture img {
  display: block;
  height: auto;
  width: 100%;
}
