:root {
  /* Main Accent */
  --color-accent-gradient: #ffc593, rgb(255, 197, 147), 28°, 100%, 79%;
  /* Primary Colors */
  --color-pure-black: #000;
  --color-light-grey: #ddd;
  --color-pure-white: #fff;
}

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;

  &--active {
    display: block;
  }
}
