/* Globals */
/* Base */
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

:root {
  /* Main Accent */
  --color-accent-gradient-1: #ffc593;
  --color-accent-gradient-2: #bc7198;
  --color-accent-gradient-3: #5a77ff;
  /* Primary Colors */
  --color-pure-black: #000;
  --color-light-grey: #ddd;
  --color-pure-white: #fff; }

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  background-color: #0c0b0b; }

a {
  text-decoration: none; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }
  .overlay--active {
    display: block; }

h1, h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
  color: var(--color-pure-white); }

.header p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-pure-white);
  opacity: 0.6;
  margin-top: 1.6rem; }
  @media screen and (min-width: 768px) {
    .header p {
      margin-top: 2.1rem; } }

h2 {
  color: var(--color-pure-black); }

picture img {
  display: block;
  height: auto;
  width: 100%; }

/* Layout */
/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 2.4rem;
  position: relative;
  background-color: var(--color-pure-white);
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .navbar {
      padding: 2.8rem 4rem; } }
  @media screen and (min-width: 1440px) {
    .navbar {
      padding: 2.8rem 16.5rem; } }
  .navbar .navbar__navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    padding: 3.2rem;
    background-color: var(--color-pure-white);
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .navbar .navbar__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: initial;
        padding: initial; } }
    .navbar .navbar__navigation--active {
      display: block; }
      @media screen and (min-width: 768px) {
        .navbar .navbar__navigation--active {
          display: flex; } }
    .navbar .navbar__navigation .navbar__nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      border-bottom: 2px solid var(--color-light-grey); }
      @media screen and (min-width: 768px) {
        .navbar .navbar__navigation .navbar__nav-links {
          flex-direction: row;
          justify-content: space-between;
          width: 26.9rem;
          margin: 0 auto;
          border-bottom: initial; } }
      .navbar .navbar__navigation .navbar__nav-links .navbar__nav-link {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: var(--color-pure-black);
        transition: color 0.2s ease-in-out; }
        @media screen and (min-width: 768px) {
          .navbar .navbar__navigation .navbar__nav-links .navbar__nav-link {
            font-size: 1.2rem;
            line-height: 1.6rem;
            margin-bottom: initial; } }
        .navbar .navbar__navigation .navbar__nav-links .navbar__nav-link:hover {
          color: var(--color-light-grey); }
    .navbar .navbar__navigation .navbar__nav-btn {
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--color-pure-white);
      background-color: var(--color-pure-black);
      width: 100%;
      padding: 1.2rem 2.4rem;
      transition: 0.2s ease-in-out; }
      @media screen and (min-width: 768px) {
        .navbar .navbar__navigation .navbar__nav-btn {
          width: initial; } }
      .navbar .navbar__navigation .navbar__nav-btn:hover {
        color: var(--color-pure-black);
        background-color: var(--color-light-grey); }
  .navbar .navbar__menu-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-pure-white); }
    @media screen and (min-width: 768px) {
      .navbar .navbar__menu-btn {
        display: none; } }
    @media screen and (min-width: 768px) {
      .navbar .navbar__menu-btn--open {
        display: none !important; } }
    .navbar .navbar__menu-btn--close {
      display: none; }

/* Main */
@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 35% 30% 1fr;
    grid-template-rows: auto; } }
@media screen and (min-width: 1440px) {
  .header {
    grid-template-columns: 42% 15% 1fr;
    margin: 0 auto;
    max-width: 1440px; } }
.header__create-graphic, .header__beautiful-stories-graphic, .header__designed-graphic {
  order: 2;
  display: block;
  height: auto;
  width: 100%; }
  @media screen and (min-width: 1440px) {
    .header__create-graphic, .header__beautiful-stories-graphic, .header__designed-graphic {
      grid-column: 2 / -1; } }
.header__create-stories, .header__beautiful-stories, .header__designed {
  order: 1;
  background-color: var(--color-pure-black);
  padding: 7.2rem 3.3rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .header__create-stories, .header__beautiful-stories, .header__designed {
      padding: 17.3rem 5.4rem;
      grid-column: 1 / span 2; } }
  @media screen and (min-width: 1440px) {
    .header__create-stories, .header__beautiful-stories, .header__designed {
      padding: 17.3rem 11.2rem;
      grid-column: 1 / 2; } }
  .header__create-stories::before, .header__beautiful-stories::before, .header__designed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.3rem;
    width: 12.8rem;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%); }
    @media screen and (min-width: 768px) {
      .header__create-stories::before, .header__beautiful-stories::before, .header__designed::before {
        top: 16.8rem;
        left: 0;
        width: 0.6rem;
        height: 30.04rem; } }
.header__invite, .header__beautiful-stories .header__invite, .header__designed .header__invite {
  display: inline-flex;
  align-items: center;
  margin-top: 2.3rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--color-pure-white); }
  @media screen and (min-width: 768px) {
    .header__invite, .header__beautiful-stories .header__invite, .header__designed .header__invite {
      margin-top: 4.8rem; } }
  .header__invite:hover {
    text-decoration: underline; }
  .header__invite svg, .header__beautiful-stories .header__invite svg, .header__designed .header__invite svg {
    margin-left: 1.8rem; }
.header__beautiful-stories-graphic {
  order: 3; }
  @media screen and (min-width: 1440px) {
    .header__beautiful-stories-graphic {
      grid-column: 1 / span 2; } }
.header__beautiful-stories, .header__designed {
  order: 4;
  background-color: var(--color-pure-white);
  position: initial; }
  @media screen and (min-width: 768px) {
    .header__beautiful-stories, .header__designed {
      padding: 13.6rem 11.2rem;
      grid-column: 2 / -1; } }
  @media screen and (min-width: 1440px) {
    .header__beautiful-stories, .header__designed {
      grid-column: 3 / -1; } }
  .header__beautiful-stories::before, .header__designed::before {
    content: none; }
  .header__beautiful-stories p, .header__designed p {
    color: var(--color-pure-black); }
  .header__beautiful-stories .header__invite, .header__designed .header__invite {
    color: var(--color-pure-black);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-pure-black); }
.header__designed {
  order: 5; }
  @media screen and (min-width: 768px) {
    .header__designed {
      grid-column: 1 / span 2; } }
  @media screen and (min-width: 1440px) {
    .header__designed {
      grid-column: 1 / 2; } }
  .header__designed-graphic {
    order: 6; }
    @media screen and (min-width: 1440px) {
      .header__designed-graphic {
        grid-column: 2 / -1; } }

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr; } }
@media (min-width: 1024px) {
  .grid {
    grid-template: 1fr/repeat(4, 1fr); } }
@media (min-width: 1440px) {
  .grid {
    margin: 0 auto;
    max-width: 1440px; } }
.grid__item-link {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 23.6rem 3.3rem 4rem;
  width: 100%;
  min-height: 37.5rem;
  position: relative;
  transition: transform 0.2s ease-in-out; }
  .grid__item-link:hover {
    transform: translateY(-2rem); }
  .grid__item-link:hover::after {
    width: 100%; }
  .grid__item-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%);
    transition: width 0.3s ease-in; }
  .grid__item-link--mountains {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .grid__item-link--sunset {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/cityscapes.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .grid__item-link--voyage {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/18-days-voyage.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .grid__item-link--architectural {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/architecturals.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
.grid__item-title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--color-pure-white); }
.grid__item-author {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--color-pure-white);
  margin-top: 0.4rem; }
.grid__item-rule {
  margin: 2rem 0; }
.grid__item-story {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-pure-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }

.features {
  background-color: var(--color-pure-white);
  padding: 8rem 3.2rem; }
  @media (min-width: 768px) {
    .features {
      padding: 12rem 15.6rem; } }
  @media (min-width: 1024px) {
    .features {
      display: grid;
      grid-template: 1fr/repeat(3, 1fr);
      align-items: baseline;
      column-gap: 3rem;
      row-gap: 3rem; } }
  @media (min-width: 1440px) {
    .features {
      margin: 0 auto;
      max-width: 1440px; } }
  .features__feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .features__feature:not(.features__feature:first-child) {
      margin-top: 5.6rem; }
      @media (min-width: 1024px) {
        .features__feature:not(.features__feature:first-child) {
          margin-top: initial; } }
  .features__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: bold;
    text-align: center;
    margin-top: 4.8rem; }
  .features__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: normal;
    text-align: center;
    margin-top: 1.6rem;
    opacity: 0.6; }

/* Footer */
.footer {
  padding: 5.6rem 3.2rem;
  background-color: var(--color-pure-black); }
  .footer__branding {
    display: block;
    margin: 0 auto; }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    width: 15.4rem;
    margin: 3.2rem auto 0; }
    .footer__socials .footer__facebook path,
    .footer__socials .footer__youtube path,
    .footer__socials .footer__twitter path,
    .footer__socials .footer__pinterest path,
    .footer__socials .footer__instagram path {
      cursor: pointer;
      fill: var(--color-pure-white); }
    .footer__socials .footer__facebook path:hover {
      fill: url("#facebook"); }
    .footer__socials .footer__youtube path:hover {
      fill: url("#youtube"); }
    .footer__socials .footer__twitter path:hover {
      fill: url("#twitter"); }
    .footer__socials .footer__pinterest path:hover {
      fill: url("#pinterest"); }
    .footer__socials .footer__instagram path:hover {
      fill: url("#instagram"); }
  .footer__navigation {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--color-pure-white);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 4.9rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
    .footer__navigation a {
      color: var(--color-pure-white); }
      .footer__navigation a:hover {
        opacity: 0.3; }
      .footer__navigation a:not(.footer__navigation a:first-child) {
        margin-top: 1.9rem; }
  .footer__copy {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    row-gap: 3.4rem;
    width: 25.5rem;
    margin: 11.9rem auto 0; }
    .footer__copy .footer__invite {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.6rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: var(--color-pure-white); }
      .footer__copy .footer__invite:hover {
        text-decoration: underline; }
      .footer__copy .footer__invite svg {
        margin-left: 2.2rem; }
    .footer__copy .footer__copyright {
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--color-light-grey);
      font-weight: normal;
      text-align: center;
      opacity: 0.5; }

/*# sourceMappingURL=app.css.map */
