/* Globals */
/* Base */
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

:root {
  /* Main Accent */
  --color-accent-gradient-1: #ffc593;
  --color-accent-gradient-2: #bc7198;
  --color-accent-gradient-3: #5a77ff;
  /* Primary Colors */
  --color-pure-black: #000;
  --color-light-grey: #ddd;
  --color-pure-white: #fff; }

body {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  background-color: #0c0b0b; }

a {
  text-decoration: none; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }
  .overlay--active {
    display: block; }

h1, h2, h3 {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
  color: var(--color-pure-white); }

.header p,
.stories-header p,
.features-header p,
.pricing-header p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-pure-white);
  opacity: 0.6;
  margin-top: 1.6rem; }
  @media screen and (min-width: 768px) {
    .header p,
    .stories-header p,
    .features-header p,
    .pricing-header p {
      margin-top: 2.1rem; } }

h2 {
  color: var(--color-pure-black); }

h3 {
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 4rem;
      line-height: 4.8rem;
      letter-spacing: 0.4rem;
      width: 40rem; } }

picture img {
  display: block;
  height: auto;
  width: 100%; }

/* Layout */
/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 2.4rem;
  position: relative;
  background-color: var(--color-pure-white);
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .navbar {
      padding: 2.8rem 4rem; } }
  @media screen and (min-width: 1440px) {
    .navbar {
      padding: 2.8rem 16.5rem; } }
  .navbar .navbar__navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    padding: 3.2rem;
    background-color: var(--color-pure-white);
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .navbar .navbar__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: initial;
        padding: initial; } }
    .navbar .navbar__navigation--active {
      display: block; }
      @media screen and (min-width: 768px) {
        .navbar .navbar__navigation--active {
          display: flex; } }
    .navbar .navbar__navigation .navbar__nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      border-bottom: 2px solid var(--color-light-grey); }
      @media screen and (min-width: 768px) {
        .navbar .navbar__navigation .navbar__nav-links {
          flex-direction: row;
          justify-content: space-between;
          width: 26.9rem;
          margin: 0 auto;
          border-bottom: initial; } }
      .navbar .navbar__navigation .navbar__nav-links .navbar__nav-link {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: var(--color-pure-black);
        transition: color 0.2s ease-in-out; }
        @media screen and (min-width: 768px) {
          .navbar .navbar__navigation .navbar__nav-links .navbar__nav-link {
            font-size: 1.2rem;
            line-height: 1.6rem;
            margin-bottom: initial; } }
        .navbar .navbar__navigation .navbar__nav-links .navbar__nav-link:hover {
          color: var(--color-light-grey); }
    .navbar .navbar__navigation .navbar__nav-btn {
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      color: var(--color-pure-white);
      background-color: var(--color-pure-black);
      width: 100%;
      padding: 1.2rem 2.4rem;
      transition: 0.2s ease-in-out; }
      @media screen and (min-width: 768px) {
        .navbar .navbar__navigation .navbar__nav-btn {
          width: initial; } }
      .navbar .navbar__navigation .navbar__nav-btn:hover {
        color: var(--color-pure-black);
        background-color: var(--color-light-grey); }
  .navbar .navbar__menu-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-pure-white); }
    @media screen and (min-width: 768px) {
      .navbar .navbar__menu-btn {
        display: none; } }
    @media screen and (min-width: 768px) {
      .navbar .navbar__menu-btn--open {
        display: none !important; } }
    .navbar .navbar__menu-btn--close {
      display: none; }

/* Main */
@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 35% 30% 1fr;
    grid-template-rows: auto; } }
@media screen and (min-width: 1440px) {
  .header {
    grid-template-columns: 42% 15% 1fr;
    margin: 0 auto;
    max-width: 1440px; } }
.header__create-graphic, .header__beautiful-stories-graphic, .header__designed-graphic {
  order: 2;
  display: block;
  height: auto;
  width: 100%; }
  @media screen and (min-width: 1440px) {
    .header__create-graphic, .header__beautiful-stories-graphic, .header__designed-graphic {
      grid-column: 2 / -1; } }
.header__create-stories, .header__beautiful-stories, .header__designed {
  order: 1;
  background-color: var(--color-pure-black);
  padding: 7.2rem 3.3rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .header__create-stories, .header__beautiful-stories, .header__designed {
      padding: 17.3rem 5.4rem;
      grid-column: 1 / span 2; } }
  @media screen and (min-width: 1440px) {
    .header__create-stories, .header__beautiful-stories, .header__designed {
      padding: 17.3rem 11.2rem;
      grid-column: 1 / 2; } }
  .header__create-stories::before, .header__beautiful-stories::before, .header__designed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.3rem;
    width: 12.8rem;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%); }
    @media screen and (min-width: 768px) {
      .header__create-stories::before, .header__beautiful-stories::before, .header__designed::before {
        top: 16.8rem;
        left: 0;
        width: 0.6rem;
        height: 30.04rem; } }
.header__invite, .header__beautiful-stories .header__invite, .header__designed .header__invite {
  display: inline-flex;
  align-items: center;
  margin-top: 2.3rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--color-pure-white); }
  @media screen and (min-width: 768px) {
    .header__invite, .header__beautiful-stories .header__invite, .header__designed .header__invite {
      margin-top: 4.8rem; } }
  .header__invite:hover {
    text-decoration: underline; }
  .header__invite svg, .header__beautiful-stories .header__invite svg, .header__designed .header__invite svg {
    margin-left: 1.8rem; }
.header__beautiful-stories-graphic {
  order: 3; }
  @media screen and (min-width: 1440px) {
    .header__beautiful-stories-graphic {
      grid-column: 1 / span 2; } }
.header__beautiful-stories, .header__designed {
  order: 4;
  background-color: var(--color-pure-white);
  position: initial; }
  @media screen and (min-width: 768px) {
    .header__beautiful-stories, .header__designed {
      padding: 13.6rem 11.2rem;
      grid-column: 2 / -1; } }
  @media screen and (min-width: 1440px) {
    .header__beautiful-stories, .header__designed {
      grid-column: 3 / -1; } }
  .header__beautiful-stories::before, .header__designed::before {
    content: none; }
  .header__beautiful-stories p, .header__designed p {
    color: var(--color-pure-black); }
  .header__beautiful-stories .header__invite, .header__designed .header__invite {
    color: var(--color-pure-black);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-pure-black); }
.header__designed {
  order: 5; }
  @media screen and (min-width: 768px) {
    .header__designed {
      grid-column: 1 / span 2; } }
  @media screen and (min-width: 1440px) {
    .header__designed {
      grid-column: 1 / 2; } }
  .header__designed-graphic {
    order: 6; }
    @media screen and (min-width: 1440px) {
      .header__designed-graphic {
        grid-column: 2 / -1; } }

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr; } }
@media (min-width: 1024px) {
  .grid {
    grid-template: 1fr/repeat(4, 1fr); } }
@media (min-width: 1440px) {
  .grid {
    margin: 0 auto;
    max-width: 1440px; } }
.grid__item-link {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 23.6rem 3.3rem 4rem;
  width: 100%;
  min-height: 37.5rem;
  position: relative;
  transition: transform 0.2s ease-in-out; }
  @media (min-width: 768px) {
    .grid__item-link {
      min-height: 50rem; } }
  .grid__item-link:hover {
    transform: translateY(-2rem); }
  .grid__item-link:hover::after {
    width: 100%; }
  .grid__item-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%);
    transition: width 0.3s ease-in; }
  .grid__item-link--mountains {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .grid__item-link--mountains {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/mountains.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .grid__item-link--sunset {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/cityscapes.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .grid__item-link--sunset {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/cityscapes.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .grid__item-link--voyage {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/18-days-voyage.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .grid__item-link--voyage {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/18-days-voyage.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .grid__item-link--architectural {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/architecturals.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .grid__item-link--architectural {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/architecturals.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
.grid__item-title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--color-pure-white); }
.grid__item-author {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--color-pure-white);
  margin-top: 0.4rem; }
.grid__item-rule {
  margin: 2rem 0; }
.grid__item-story {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-pure-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }

.features {
  background-color: var(--color-pure-white);
  padding: 8rem 3.2rem; }
  @media (min-width: 768px) {
    .features {
      padding: 12rem 15.6rem; } }
  @media (min-width: 1024px) {
    .features {
      display: grid;
      grid-template: 1fr/repeat(3, 1fr);
      align-items: baseline;
      column-gap: 3rem; } }
  @media (min-width: 1440px) {
    .features {
      margin: 0 auto;
      max-width: 1440px; } }
  .features__feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .features__feature:not(.features__feature:first-child) {
      margin-top: 5.6rem; }
      @media (min-width: 1024px) {
        .features__feature:not(.features__feature:first-child) {
          margin-top: initial; } }
  .features__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: bold;
    text-align: center;
    margin-top: 4.8rem; }
  .features__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: normal;
    text-align: center;
    margin-top: 1.6rem;
    opacity: 0.6; }

/* Footer */
.footer {
  padding: 5.6rem 3.2rem;
  background-color: var(--color-pure-black); }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 6.4rem 3.9rem;
      position: relative; } }
  @media (min-width: 1024px) {
    .footer {
      padding: 6.4rem 17rem; } }
  @media (min-width: 1440px) {
    .footer {
      margin: 0 auto;
      max-width: 1440px; } }
  @media (min-width: 768px) {
    .footer__brands {
      display: grid;
      grid-template: 1fr 1fr / 1fr;
      row-gap: 12rem; } }
  @media (min-width: 1024px) {
    .footer__brands {
      row-gap: 1.5rem; } }
  .footer__brands .footer__branding {
    display: block;
    margin: 0 auto; }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    width: 15.4rem;
    margin: 3.2rem auto 0; }
    .footer__socials .footer__facebook path,
    .footer__socials .footer__youtube path,
    .footer__socials .footer__twitter path,
    .footer__socials .footer__pinterest path,
    .footer__socials .footer__instagram path {
      cursor: pointer;
      fill: var(--color-pure-white); }
    .footer__socials .footer__facebook path:hover {
      fill: url("#facebook"); }
    .footer__socials .footer__youtube path:hover {
      fill: url("#youtube"); }
    .footer__socials .footer__twitter path:hover {
      fill: url("#twitter"); }
    .footer__socials .footer__pinterest path:hover {
      fill: url("#pinterest"); }
    .footer__socials .footer__instagram path:hover {
      fill: url("#instagram"); }
  .footer__navigation {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--color-pure-white);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 4.9rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .footer__navigation {
        flex-direction: row;
        justify-content: space-between;
        width: 31.5rem;
        margin-top: initial;
        position: absolute;
        top: 11.5rem;
        height: fit-content; } }
    @media (min-width: 1024px) {
      .footer__navigation {
        flex-direction: column;
        justify-content: initial;
        width: initial;
        position: absolute;
        top: 6.4rem;
        left: 44.7rem;
        height: initial;
        text-align: left; } }
    .footer__navigation a {
      color: var(--color-pure-white); }
      .footer__navigation a:hover {
        opacity: 0.3; }
      .footer__navigation a:not(.footer__navigation a:first-child) {
        margin-top: 1.9rem; }
        @media (min-width: 768px) {
          .footer__navigation a:not(.footer__navigation a:first-child) {
            margin-top: initial; } }
        @media (min-width: 1024px) {
          .footer__navigation a:not(.footer__navigation a:first-child) {
            margin-top: 1.9rem; } }
  .footer__copy {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    row-gap: 3.4rem;
    width: 25.5rem;
    margin: 11.9rem auto 0; }
    @media (min-width: 768px) {
      .footer__copy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: initial; } }
    .footer__copy .footer__invite {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.6rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: var(--color-pure-white); }
      @media (min-width: 768px) {
        .footer__copy .footer__invite {
          justify-content: flex-end;
          align-items: initial; } }
      .footer__copy .footer__invite:hover {
        text-decoration: underline; }
      .footer__copy .footer__invite svg {
        margin-left: 2.2rem; }
    .footer__copy .footer__copyright {
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--color-light-grey);
      font-weight: normal;
      text-align: center;
      opacity: 0.5; }
      @media (min-width: 768px) {
        .footer__copy .footer__copyright {
          width: 25.5rem; } }

/* Pages */
/* Stories */
@media (min-width: 768px) {
  .stories-header {
    position: relative; } }
@media (min-width: 1440px) {
  .stories-header {
    margin: 0 auto;
    max-width: 1440px; } }
.stories-header__header-graphic {
  display: block;
  height: auto;
  width: 100%; }
.stories-header__header-stories {
  background-color: var(--color-pure-black);
  padding: 4.8rem 2.8rem;
  position: relative; }
  @media (min-width: 768px) {
    .stories-header__header-stories {
      position: absolute;
      top: 11.5rem;
      left: 3.9rem;
      padding: 0 0;
      width: 38.7rem;
      background-color: transparent; } }
  @media (min-width: 768px) {
    .stories-header__header-stories {
      left: 11.2rem; } }
  .stories-header__header-stories .stories-header__featured {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--color-pure-white);
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    opacity: initial;
    margin-bottom: 1.6rem; }
  .stories-header__header-stories .stories-header__author {
    display: inline-block;
    margin-right: 0.9rem; }
  .stories-header__header-stories .stories-header__appleseed {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: var(--color-pure-white);
    font-weight: left;
    text-align: center; }

@media (min-width: 768px) {
  .stories-grid {
    display: grid;
    grid-template: repeat(8, 1fr)/1fr 1fr; } }
@media (min-width: 1024px) {
  .stories-grid {
    grid-template: repeat(4, 1fr)/repeat(4, 1fr); } }
@media (min-width: 1440px) {
  .stories-grid {
    margin: 0 auto;
    max-width: 1440px; } }
.stories-grid__item-date {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--color-pure-white);
  font-weight: normal;
  text-align: left;
  margin-bottom: 0.4rem; }
.stories-grid__item-link {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 23.6rem 3.3rem 4rem;
  width: 100%;
  min-height: 37.5rem;
  position: relative;
  transition: transform 0.2s ease-in-out; }
  @media (min-width: 768px) {
    .stories-grid__item-link {
      min-height: 50rem; } }
  .stories-grid__item-link:hover {
    transform: translateY(-2rem); }
  .stories-grid__item-link:hover::after {
    width: 100%; }
  .stories-grid__item-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%);
    transition: width 0.3s ease-in; }
  .stories-grid__item-link--mountains {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--mountains {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/mountains.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--sunset {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/cityscapes.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--sunset {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/cityscapes.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--voyage {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/18-days-voyage.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--voyage {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/18-days-voyage.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--architectural {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/architecturals.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--architectural {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/architectural.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--tour {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/world-tour.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--tour {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/world-tour.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--corners {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/unforeseen-corners.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--corners {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/unforeseen-corners.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--king {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/king-on-africa.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--king {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/king-on-africa.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--nowhere {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/trip-to-nowhere.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--nowhere {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/trip-to-nowhere.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--sea {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/rage-of-the-sea.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--sea {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/rage-of-the-sea.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--free {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/running-free.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--free {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/running-free.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--waves {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/behind-the-waves.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--waves {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/behind-the-waves.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--calm {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/calm-waters.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--calm {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/calm-waters.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--milky {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/milky-way.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--milky {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/milky-way.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--forest {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/dark-forest.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--forest {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/dark-forest.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--beauty {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/somwarpet.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--beauty {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/somwarpet.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
  .stories-grid__item-link--dreams {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/mobile/land-of-dreams.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 768px) {
      .stories-grid__item-link--dreams {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url("../../assets/stories/desktop/land-of-dreams.jpg");
        background-repeat: no-repeat;
        background-size: cover; } }
.stories-grid__item-title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--color-pure-white); }
.stories-grid__item-author {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--color-pure-white);
  margin-top: 0.4rem; }
.stories-grid__item-rule {
  margin: 2rem 0; }
.stories-grid__item-story {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-pure-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase; }

/* Features */
@media screen and (min-width: 768px) {
  .features-header {
    display: grid;
    grid-template-columns: 35% 30% 1fr;
    grid-template-rows: auto; } }
@media screen and (min-width: 1440px) {
  .features-header {
    grid-template-columns: 42% 15% 1fr;
    margin: 0 auto;
    max-width: 1440px; } }
.features-header__features-graphic {
  order: 2;
  display: block;
  height: auto;
  width: 100%; }
  @media screen and (min-width: 1440px) {
    .features-header__features-graphic {
      grid-column: 2 / -1; } }
.features-header__features-stories {
  order: 1;
  background-color: var(--color-pure-black);
  padding: 7.2rem 3.3rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .features-header__features-stories {
      padding: 17.3rem 5.4rem;
      grid-column: 1 / span 2; } }
  @media screen and (min-width: 1440px) {
    .features-header__features-stories {
      padding: 17.3rem 11.2rem;
      grid-column: 1 / 2; } }
  .features-header__features-stories::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.3rem;
    width: 12.8rem;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%); }
    @media screen and (min-width: 768px) {
      .features-header__features-stories::before {
        top: 16.8rem;
        left: 0;
        width: 0.6rem;
        height: 14.4rem; } }

.featured {
  background-color: var(--color-pure-white);
  padding: 8rem 3.2rem; }
  @media (min-width: 768px) {
    .featured {
      display: grid;
      grid-template: repeat(3, 1fr)/repeat(2, 1fr);
      column-gap: 1.1rem;
      row-gap: 7.2rem;
      align-items: baseline;
      padding: 11.2rem 3.8rem; } }
  @media (min-width: 1024px) {
    .featured {
      display: grid;
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
      column-gap: 3rem;
      row-gap: 10.4rem;
      padding: 16rem 16.5rem; } }
  @media (min-width: 1440px) {
    .featured {
      margin: 0 auto;
      max-width: 1440px; } }
  .featured__feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .featured__feature:not(.featured__feature:first-child) {
      margin-top: 5.6rem; }
      @media (min-width: 768px) {
        .featured__feature:not(.featured__feature:first-child) {
          margin-top: initial; } }
  .featured__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: bold;
    text-align: center;
    margin-top: 4.8rem; }
  .featured__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: normal;
    text-align: center;
    margin-top: 1.6rem;
    opacity: 0.6; }

.invite {
  background: url("../../assets/shared/mobile/bg-beta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.4rem 3.2rem;
  position: relative; }
  @media (min-width: 768px) {
    .invite {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: url("../../assets/shared/tablet/bg-beta.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 6.8rem 3.9rem; } }
  @media (min-width: 1440px) {
    .invite {
      background: url("../../assets/shared/desktop/bg-beta.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 6.8rem 16.5rem;
      margin: 0 auto;
      max-width: 1440px; } }
  .invite::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.3rem;
    width: 12.8rem;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%); }
    @media screen and (min-width: 768px) {
      .invite::before {
        top: 0;
        left: 0;
        width: 0.6rem;
        height: 100%; } }
  @media (min-width: 768px) {
    .invite .header__invite {
      margin-top: initial; } }

/* Pricing */
@media screen and (min-width: 768px) {
  .pricing-header {
    display: grid;
    grid-template-columns: 35% 30% 1fr;
    grid-template-rows: auto; } }
@media screen and (min-width: 1440px) {
  .pricing-header {
    grid-template-columns: 42% 15% 1fr;
    margin: 0 auto;
    max-width: 1440px; } }
.pricing-header__features-graphic {
  order: 2;
  display: block;
  height: auto;
  width: 100%; }
  @media screen and (min-width: 1440px) {
    .pricing-header__features-graphic {
      grid-column: 2 / -1; } }
.pricing-header__features-stories {
  order: 1;
  background-color: var(--color-pure-black);
  padding: 7.2rem 3.3rem;
  position: relative; }
  @media screen and (min-width: 768px) {
    .pricing-header__features-stories {
      padding: 17.3rem 5.4rem;
      grid-column: 1 / span 2; } }
  @media screen and (min-width: 1440px) {
    .pricing-header__features-stories {
      padding: 17.3rem 11.2rem;
      grid-column: 1 / 2; } }
  .pricing-header__features-stories::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3.3rem;
    width: 12.8rem;
    height: 0.6rem;
    background: linear-gradient(26.57deg, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 43.29%, var(--color-accent-gradient-3) 83.33%); }
    @media screen and (min-width: 768px) {
      .pricing-header__features-stories::before {
        top: 16.8rem;
        left: 0;
        width: 0.6rem;
        height: 14.4rem; } }

.pricing-main {
  background-color: var(--color-pure-white);
  padding: 6.4rem 2.8rem; }

.pricing-main__cards .pricing-main__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25.5rem;
  margin: 0 auto; }
  .pricing-main__cards .pricing-main__toggle .pricing-main__monthly {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: bold;
    text-align: center;
    opacity: 0.5; }
  .pricing-main__cards .pricing-main__toggle .pricing-main__switch {
    position: relative;
    display: inline-block;
    width: 6.4rem;
    height: 3.2rem; }
    .pricing-main__cards .pricing-main__toggle .pricing-main__switch input {
      opacity: 0;
      width: 0;
      height: 0; }
      .pricing-main__cards .pricing-main__toggle .pricing-main__switch input:checked + .pricing-main__slider {
        background-color: var(--color-pure-black); }
      .pricing-main__cards .pricing-main__toggle .pricing-main__switch input:focus + .pricing-main__slider {
        box-shadow: 0 0 0.1rem var(--color-pure-black); }
      .pricing-main__cards .pricing-main__toggle .pricing-main__switch input:checked + .pricing-main__slider:before {
        background-color: var(--color-pure-white);
        transform: translateX(3rem); }
    .pricing-main__cards .pricing-main__toggle .pricing-main__switch .pricing-main__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-light-grey);
      border-radius: 3.4rem;
      transition: 0.4s; }
      .pricing-main__cards .pricing-main__toggle .pricing-main__switch .pricing-main__slider::before {
        position: absolute;
        content: "";
        height: 2.4rem;
        width: 2.4rem;
        left: 0.4rem;
        bottom: 0.4rem;
        background-color: var(--color-pure-black);
        border-radius: 50%;
        transition: 0.4s; }
  .pricing-main__cards .pricing-main__toggle .pricing-main__yearly {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--color-pure-black);
    font-weight: bold;
    text-align: center;
    opacity: 0.5; }

/*# sourceMappingURL=app.css.map */
